HOST="localhost"
USER="postgres"
PASSWORD="admin"
DATABASENAME="ERP"
CORS="http://localhost:5173/"
PORT=5000
DATABASE_URL="postgresql://postgres:<Your Password Here>@localhost/ERP"
JWT_SECRET=
GMAIL_USERNAME=
GMAIL_PASSWORD=
SALT_ROUNDS=10
